# API Configuration
# Base URL для API запросов
VITE_API_URL=http://localhost:8000

# Base domain для development
VITE_BASE_DOMAIN_DEV=http://localhost:8000

# Application Configuration
# Название приложения (отображается в title)
VITE_APP_TITLE=SPA Module

# Environment
# development | production | test
NODE_ENV=development
